<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-skytap-index") %>>
          <a href="/docs/providers/skytap/index.html">Skytap Provider</a>
        </li>

         <li<%= sidebar_current("docs-skytap-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-skytap-datasource-project") %>>
              <a href="/docs/providers/skytap/d/project.html">skytap_project</a>
            </li>
            <li<%= sidebar_current("docs-skytap-datasource-template") %>>
              <a href="/docs/providers/skytap/d/template.html">skytap_template</a>
            </li>
          </ul>
         </li>

        <li<%= sidebar_current("docs-skytap-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-skytap-resource-project") %>>
              <a href="/docs/providers/skytap/r/project.html">skytap_project</a>
            </li>
            <li<%= sidebar_current("docs-skytap-resource-environment") %>>
              <a href="/docs/providers/skytap/r/environment.html">skytap_environment</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
